<style>
    .body{
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .form{
        width: 500px;
        height: auto;
        position: relative;
    }
    h4{
        margin-bottom: 20px;
    }
</style>

<div class="body">
    <div class="form">
        <h4>Add new product</h4>
        <form action="/addProduct" method="POST">

            <div class="form-outline mb-4">
                <input type="text" name="productid" id="form1Example" class="form-control" />
                <label class="form-label" for="form1Example">Id product</label>
            </div>


            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="text" name="productname" id="form1Example1" class="form-control" />
                <label class="form-label" for="form1Example1">Name product</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="text" name="productprice" id="form1Example2" class="form-control" />
                <label class="form-label" for="form1Example2">price</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" name="productcat" id="form1Example2" class="form-control" />
                <label class="form-label" for="form1Example2">category</label>
            </div>

            <!-- Password input -->
            <textarea class="form-control" name="productdesc" id="form4Example3" rows="4" style="margin-top: 0px; margin-bottom: 0px; height: 138px; margin-bottom:20px"></textarea>


            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block">Add new product</button>
        </form>
    </div>
</div>